<!-- templates/detalle_post.html -->
{% extends "base.html" %}

{% block content %}
<!-- El nombre del objeto de contexto en DetailView tmb tiene como valor predeterminado el nombre del modelo
    Es decir, podemos usar post y object -->
    <div class="post-entry"> 
        <h2 class="title">{{ object.titulo }}</h2>

        <div class="post-top  d-flex justify-content-between text-muted border-bottom pb-3 mb-4"> 
            <!-- coloca los elementos separados horizontalmente. añadir padding y margen inferior. 
            Añadir una linea para separacion(border-bottom)-->
            <p><strong>Autor del post:</strong> {{ post.autor }}</p>
            <p><strong>Fecha del post:</strong> {{ object.fecha }}</p>
        </div>

        <!-- Parte superior: datos + imagen -->
        <div class="post-middle ">
            <div class="post-content col-md-7">
                <!--el contenido ocupe 7 columnas de 12 en pantallas medianas o grandes md(medium) -> 7/12-->
                <!-- Imprime todos los datos SÓLO si no están vacíos y no es sinopsis (este se imprime abajo) -->
                {% for nombre, valor in post.campos_no_vacios %}
                    {# Pasamos 'nombre' a minúsculas y comparamos #}
                    {% if valor and nombre.lower != "sinopsis" %}
                            <dl class="info-post">
                                <dt>{{ nombre }}</dt>
                                <dd>{{ valor|linebreaksbr }}</dd>
                            </dl>
                        {% endif %}
                {% endfor %}
            </div>

            {% if object.imagen %}
                <div class="post-image">
                    <img src="{{ object.imagen.url }}" alt="{{ object.titulo }}" class="img-thumbnail">
                    <!-- img-thumbnail es una clase de Bootstrap que añade un borde y un poco de padding a la imagen -->
                </div>
            {% endif %}
            
        </div>
        
        <!-- Parte inferior: sinopsis -->
        <div class="post-sinopsis">
            <h3>Sinopsis</h3>
            <p>{{ object.sinopsis|linebreaksbr }}</p>
            <!-- Sólo respetar saltos de línea: linebreaksbr
                Crer nuevos párrafos: linebreaks -->
        </div>
    </div>
    {% if user.is_authenticated     and     user == post.autor   or   user.is_staff   or   user.is_superuser %}
    <!-- Botones se muestran sólo si usuario loggeado es:
    1. El/La autor/a
    2. Usuario Staff
    3. Super usuario -->
        <div class="botones detalles">
            <a href="{% url 'actualizar_post' object.pk %}" class="btn btn-warning">+ Editar Post</a>
            <a href="{% url 'eliminar_post' object.pk %}" class="btn btn-danger">- Eliminar Post</a>
        </div>
    {% endif %}
{% endblock content %}